<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>

<body>
    <header>
        <div class="container">
            <div class="header-container">
                <nav class="header-nav">
                    <a class="link" href="bakery">
                        <img class="logo" src="images/LogoWhite.svg" alt="Logo">
                    </a>
                    <ul class="header-menu">
                        <li>
                            <a class="<%= currentRoute === '/cakes' ? 'current' : '' %> link" href="cakes">Cakes</a>
                        </li>
                        <li>
                            <a class="<%= currentRoute === '/bento' ? 'current' : '' %> link" href="bento">Bento Cakes</a>
                        </li>
                        <li>
                            <a class="<%= currentRoute === '/cookies' ? 'current' : '' %> link" href="cookies">Cookies</a>
                        </li>
                    </ul>
                    <button class="button open-order-modal-btn header-btn" type="button">Order now</button>
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- main page content  -->
    <%- include(page); -%>

    <footer class="section">
        <div class="container footer-container">
            <div class="footer-column1">
                <a class="link" href="bakery">
                    <img lass="logo" src="images/LogoWhite.svg" alt="Logo">
                </a>
                <span> &copy; 2024 Artful Bakery </span>
            </div>

            <div class="footer-column2">
                <nav>
                    <ul>
                        <li>
                            <a class="link footer-link" href="cakes">Cakes</a>
                        </li>
                        <li>
                            <a class="link footer-link" href="bento">Bento Cakes</a>
                        </li>
                        <li>
                            <a class="link footer-link" href="cookies">Cookies</a>
                        </li>
                    </ul>
                </nav>
                <button class="button footer-btn open-order-modal-btn" type="button">Order now</button>
            </div>
            <div class="footer-column3">
                <span>Contact us</span>
                <address class="address">
                    <ul>
                        <li>Phone:<a class="link footer-link" href="tel:+16503057748"> +1 (650) 3057-748</a></li>
                        <li>Email: <a class="link footer-link"
                                href="mailto:artful.bakery@gmail.com">artful.bakery@gmail.com</a></li>
                        <li><a class="link footer-link" target="_blank" href="https://maps.app.goo.gl/8mk9oWtHcpCWhXrr9">374 University
                                Ave, Palo Alto, CA</a></li>
                    </ul>
                </address>
            </div>
        </div>
    </footer>
    <div class="order-modal-bgd" id="order-form-modal">

        <div class="order-modal-form-container">
            <button class="order-close-btn">x</button>

            <form method="post" action="mailto:violetta.derysh@gmail.com" enctype="text/plain"
                onsubmit="window.alert('Your order has been mailed')" class="order-block__form" id="order-form">
                <h2>Custom Order Form</h2>
                <p>Please share the details for your dessert order and we will get back to you as soon as possible!</p>
                <ul>
                    <li class="row">
                        <label for="field-name">Name*</label>
                        <input id="field-name" name="Name" type="text">
                    </li>
                    <li class="row">
                        <label for="field-phone">Phone*</label>
                        <input id="field-phone" name="Phone" type="tel">
                    </li>
                    <li class="row">
                        <label for="field-email">Email*</label>
                        <input id="field-email" name="Email" type="email">
                    </li>
                    <li class="row">
                        <label for="field-like">What desserts are you interested in?*</label>
                        <select name="I would like to">
                            <option>Cake</option>
                            <option>Bento Cake</option>
                            <option>Cookies</option>
                        </select>
                    </li>
                    <li class="row">
                        <label for="field-occasion">What is the occasion?</label>
                        <input id="field-occasion" name="occasion" type="text">
                    </li>
                    <li class="row">
                        <input class="submit-button" type="submit" value="Submit">
                    </li>
                </ul>
            </form>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/formats-slider.js"></script>
    <script src="js/gallery&hamburg.js"></script>

</body>

</html>